
:global .mainFont {
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

:global .primaryColor {

}

:global .secondaryColor {

}

:global .button {
    border: none;
    background: none;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}